body {
  margin: 0;
  padding: 0;
  font-family: 'Courier Prime', monospace;
  background-color: #252422;
  color: #FFFCF2;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  text-align: center;
  border: 2px solid #403D39;
  padding: 2rem;
  border-radius: 12px;
  background-color: #252422;
  width: 90%;
  max-width: 600px;
}

h1 {
  font-size: 3rem;
  color: #EB5E28;
  margin-bottom: 2rem;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
}

li {
  margin: 0.5rem 0;
}

a {
  color: #CCC5B9;
  text-decoration: none;
  font-size: 1.25rem;
  transition: color 0.3s ease;
}

a:hover {
  color: #EB5E28;
}

/* --- Card preview block --- */
.card {
  background-color: #403D39;
  border-radius: 10px;
  padding: 1.5rem;
  transition: transform 0.3s ease;
  margin-bottom: 4rem !important;
}

.card:hover {
  transform: scale(1.02);
}

.card a {
  color: inherit;
  text-decoration: none;
}

.card-content h2 {
  color: #EB5E28;
  margin: 0 0 0.5rem 0;
}

.card-content p {
  color: #FFFCF2;
  margin: 0;
  font-size: 1rem;
}

.icon {
  font-size: 2.5rem;
  color: #EB5E28;
  margin-bottom: 0.5rem;
}
